{% extends 'base.html' %}
{% import 'wtf.html' as wtf %}
{% block title %}myform{% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
                {{ message }}
        </div>
    {% endfor %}
    <div>
        <h1> {% if dry %}预览{% else %}提交{% endif %}内容为：{% if name %}{{ name }}{% else %}尚未提交{% endif %}!</h1>
    </div>

{#    <form method="post">#}
{#        <div>#}
{#           {{ form.title.label }}{{ form.title }}#}
{#        </div>#}
{#        <div>#}
{#             {{ form.chicken_soup.label }} {{ form.chicken_soup }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.text.label }} {{ form.text }}#}
{#        </div>#}
{#        <div>#}
{#              {{ form.submit }}#}
{#        </div>#}
{#    </form>#}
    {{ wtf.quick_form(form) }}
{% endblock %}
